<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257488191952-8d09gjomij9al9spvch3kji88gsohkep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257488191952-8d09gjomij9al9spvch3kji88gsohkep</string>
	<key>API_KEY</key>
	<string>AIzaSyDPs_GyYargfwEvvyldDNtRbEWLsUX7mho</string>
	<key>GCM_SENDER_ID</key>
	<string>257488191952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aponwola.admin</string>
	<key>PROJECT_ID</key>
	<string>aponwola-79e01</string>
	<key>STORAGE_BUCKET</key>
	<string>aponwola-79e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257488191952:ios:d8baab632371741bdc39d5</string>
</dict>
</plist>